[Unit]
Description=WEFT OS Servo Shell
Documentation=https://github.com/weft-os/weft
Requires=weft-compositor.service
After=weft-compositor.service

[Service]
Type=simple
PassEnvironment=WAYLAND_DISPLAY XDG_RUNTIME_DIR DISPLAY
Environment=WEFT_APPD_WS_PORT=7410
ExecStart=/packages/system/weft-servo-shell/active/bin/weft-servo-shell \
    /packages/system/weft-servo-shell/active/share/weft/shell/system-ui.html
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical.target
